@charset "UTF-8";
body {
  background-color: #f3f3f3;
  font-family: 'Gotham', serif;
  font-size: 100%;
}

main, .topo, .menu_principal {
  width: auto;
  margin: 0px 100px;
}

.margin-topo {
  height: 1.3em;
  background-color: white;
}

header {
  background-color: white;
}

.topo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 20%;
}

.logo img {
  width: 6.5em;
}

.cidade_agora {
  width: 60%;
}

.cidade_agora span {
  width: 30%;
  border-bottom: 0.01em solid lightgray;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.cidade_agora img {
  width: 2em;
  margin: 0 .5em;
}

.cidade_agora p {
  margin: 0 .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border:1px solid red;*/
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
}

.search-form > .field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
}

.search-form > .field:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px 0.1px #602b96;
          box-shadow: 0 0 5px 0.1px #602b96;
}

.search-form > .action {
  height: 100%;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: #602b96;
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
}

.search-form > .action:hover {
  opacity: .9;
  cursor: pointer;
}

/*-----------------------*/
.menu_principal {
  border-radius: .5em;
  margin-top: 1.5em;
  position: -webkit-sticky 300px;
  position: sticky 300px;
}

.menu_principal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 0.4em;
}

.menu_principal a:hover {
  background-color: #602b96;
  color: white;
}

#active, #active:hover {
  background-color: white;
  font-weight: bold;
  color: black;
}

.menu_principal a {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: .8em;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 3px solid transparent;
}

.menu_principal a:nth-of-type(1) {
  margin: 0;
  border-radius: .4em 0 0 .4em;
}

.menu_principal a {
  color: black;
}

/*-----------------------*/
.tempo_icon img {
  width: 60%;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cidade_ultima, .subscribe {
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1.5em;
  border: 0.01em solid #f7f6f6;
  border-radius: .5em;
}

.cidade_ultima {
  width: 55%;
}

.tempo_agora {
  padding: 1em 2em;
  margin-top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tempo_icon {
  width: 50%;
}

.tempo_info {
  font-family: 'Lora', serif;
  width: 35%;
}

.tempo_info h1 {
  font-size: 3em;
}

.tempo_info h1, .tempo_info span {
  font-weight: bold;
}

.tempo_info p {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.tempo_info p:nth-of-type(1) {
  margin-top: 1em;
}

/*-----------------------*/
.prox_dias {
  background-color: #602b96;
  color: white;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0em 0em .5em .5em;
  border-top: 0.05em solid #e0e0e0;
}

.prox_dias h1 {
  text-transform: uppercase;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.prox_dias ul {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .3em;
}

.prox_dias li {
  text-align-last: center;
  border: .01em solid transparent;
  padding: .5em;
  margin: .4em;
}

.prox_dias ul:hover {
  background-color: rgba(247, 247, 247, 0.041);
  border-radius: .3em;
}

.resumo_prox_dias img {
  width: 50%;
}

.resumo_prox_dias p {
  margin-top: 1em;
  font-size: .9em;
}

/*-----------------------*/
.subscribe {
  margin-left: 5%;
  width: 40%;
  padding: 1.5em;
}

.subscribe h1 {
  color: #602b96;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1em;
}

/* Estilizando o formulário */
.rotulo_form[for="email"], [for="nome"] {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  color: #602b96;
}

.formulario {
  margin-top: 1em;
}

.formulario input {
  margin-top: .6em;
}

.formulario input[type="text"] {
  border-radius: .3em;
  padding: .5em;
  border: .1em solid lightgrey;
}

.formulario input[type="submit"] {
  background-color: #602b96;
  padding: 1em 2em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .3em;
  border: .1em solid lightgrey;
  cursor: pointer;
}

.formulario input[type="submit"]:hover {
  background-color: #401e61;
}

footer {
  border: 1px solid blue;
}

.cidades-rodape {
  padding: 2em;
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */